<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>  
    <add key="WatsonToneAnalyzerApiKey" value="v5A8Bi-pEFpofuaFlqAFgwOtLe-wBVsn1z4WT6JiHyeE"/>  
    <add key="WatsonToneAnalyzerUrl" value="https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/94200b79-e762-4114-9d4f-9797fb3526d8"/>  
  </appSettings>  
</configuration>