<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>  
    <add key="WatsonToneAnalyzerApiKey" value="vaTK9YxpjCYpFTySVuY_HRhDS6YVMiFzFHKPnw8lQL8L"/>  
    <add key="WatsonToneAnalyzerUrl" value="https://api.us-east.tone-analyzer.watson.cloud.ibm.com/instances/313c0511-181a-4475-a07b-1dca4c130056"/>  
    <add key="ConnectionString" value="Server=(localdb)\MSSQLLocalDB;Database=SaraDev;Trusted_Connection=True;"/>
  </appSettings>  
</configuration>